header.header
    .container
        include ./head

        h1.header__title.title Больше, чем знакомства.
        p.header__paragraph Исследуй свои желания вместе с tit! Создай аккаунт парой кликов, расскажи о себе и найди свою любовь уже сегодня.

        +button('head', 'Зарегестрироватсья', 'default')

